/*CSS Reset - to reset the applied margine, padding of the page*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*To apply the google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Descendant Selector - targeting the descendant of nav in nav and nav-logo classname*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline
}
/*Navigation Bar End*/


/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Intro Section End*/


/*Suceed Info Sectiion*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*Inline coding - patern:  top, right, bottom, left (TRBL)*/
	/*padding: 2rem 10% 3rem 10%;*/
}

#succeed-info h2 {
	margin-bottom: 1rem;
}
#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Suceed Info Sectiion End*/


/*Pre-footer*/

#pre-footer {
	background-color: #002540;
}

#pre-footer .pf_content {
	display: inline-block;
	vertical-align: top;
	min-height: 160px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;

}
#pre-footer .pf_list {
	font-size: 0.8rem;
}
/*Pre-footer End*/




/*Footer*/
footer {
	padding: 0.7rem;
	text-align: center;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Footer End*/


